body {
    font-family: Arial;
    margin-left: 16.5%;
    margin-right: 16.5%;
}

#desktopnotice {
  display: block;
}
  
#mobilenotice {
  display: none;
}
 
@media screen and (max-device-width: 480px) {
  #desktopnotice {
    display: none;
  }
  
  #mobilenotice {
    display: block;
  }
}
 
#sidebar {
  margin-top: 5%;
  float: left;
  width: 20%;
  border: 2px solid;
  border-radius: 15px;
}
 
#content {
  float: right;
  width: 79%;
}
 
h1 {
  text-align: center;
  border: 2px solid;
  border-radius: 15px;
}
