body {
  font-family: Arial;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
  font-size: 200%;
}

a:visited {
    color: blue
}

a:hover {
    background-color: darkgray;
}


#desktopnotice {
  display: block;
}
  
#mobilenotice {
  display: none;
}
 
@media screen and (max-device-width: 480px) {
  #desktopnotice {
    display: none;
  }
  
  #mobilenotice {
    display: block;
  }

  body { 
    font-family: Arial;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 100%;
  }
}
 
#sidebar {
  border: 2px solid;
  border-radius: 15px;
  background-color: lightgray;
}
 
#content {
}
 
h1 {
  text-align: center;
  border: 2px solid;
  border-radius: 15px;
  background-color: lightgray;
}
